################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImplicitOperator/obj
/.vs/ImplicitOperator/v17
/ImplicitOperator/bin/Debug/net6.0
/ImplicitOperator/.vs/ImplicitOperator
